SMTP_HOST=mailhog
SMTP_PORT=1025
OLLAMA_HOST=http://ollama:11434
MODEL_NAME=llama3.2:3b
#worth to check (if You have a patience to wait for first call :P) qwen3:8b - works better
SENDER_EMAIL=routing-agent@example.com
LLM_TIMEOUT=120